PORT=5100
MONGODB_URI=mongodb://127.0.0.1:27017/church_manager
GOOGLE_CLOUD_STORAGE_BUCKET=your-bucket-name
GOOGLE_CLOUD_PROJECT_ID=your-google-project-id
GOOGLE_CLOUD_SERVICE_ACCOUNT_KEY={"type":"service_account"}
GOOGLE_CLOUD_STORAGE_PUBLIC_BASE_URL=https://storage.googleapis.com/your-bucket-name
GOOGLE_CLOUD_STORAGE_PREFIX=churchflow
